<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!--  Зависимости Bootstrap-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap-icons-1.10.5/bootstrap-icons.css}" rel="stylesheet">
    <script th:src="@{/js/code.jquery.com_jquery-3.7.0.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <title>Список нарушений</title>
</head>
<body>
<div class="container-fluid p-0">
    <header th:insert="~{blocks/header :: header}"></header>
    <div class="container">
        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Описание</th>
                    <th scope="col">Адрес инцидента</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="accident: ${accidents}">
                    <td th:text="${accident.id}"/>
                    <td th:text="${accident.name}"/>
                    <td th:text="${accident.text}"/>
                    <td th:text="${accident.address}"/>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <footer th:insert="~{blocks/footer :: footer}"></footer>
</div>
</body>
</html>